.chipahua-image-service {
  margin-top: -10px;
  min-width: 100vw;
}
.sobre-nosotros,
.servicios,
.contacto {
  margin: 20px 0 10px 0 !important;
}
.value-text {
  margin: 20px 0;
}

.form-group {
  width: 100%;
}
.container-inputs {
  display: flex;
  flex-direction: column;
}
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 10px;
}
.input-group input {
  border-radius: 10px;
  border: 1px solid #81818185;
  height: 35px;
  margin: 5px 0;
  padding: 0 10px;
}
.input-group textarea {
  border-radius: 10px;
  border: 1px solid #81818185;
  height: 120px;
  margin: 5px 0;
  padding: 0 10px;
}
.input-group label {
  font-weight: bold;
}
.container-button-submit {
  display: flex;
  justify-content: flex-end;
  margin: 5px 10px 0 0;
}
.container-button-submit button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, #db7439 10%, #f59a4b 50%);
}
.container-button-submit button:hover {
  background: linear-gradient(45deg, #f38343 10%, #f3a45e 50%);
}
@media screen and (min-width: 1279px) {
  .chipahua-image-service {
    margin-top: -20px;
    min-width: 60vw;
  }
  .sobre-nosotros,
  .servicios,
  .contacto {
    margin: 80px 0 20px 0 !important;
  }
  .container-inputs {
    flex-direction: row;
    margin: 10px 0;
  }
  .form-group {
    width: 50%;
  }
}
.footer-section {
  align-items: center;
  background: inherit;
  border-top: 3px solid #f38343;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.footer-section:before {
  background: inherit;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.2);
  content: "";
  filter: blur(10px);
  left: 0;
  margin: -20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.container-social {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.container-social img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.container-logo-footer img {
  width: 50%;
}
.container-logo-footer img {
  width: 200px;
}
